<section>
    <div class="home-banner">
        <h1>¡Bienvenido!</h1>
        <h3>Bienvenidos a "Play&Stars"</h3>
        <p>Un espacio para conectar con tus artistas favoritos.</p>
      </div>
</section>
<div class="container">
    <div>
      <div class="content">
        <h2>Señora Influencer</h2>
        <span>Thriller</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>RENAISSANCE: A Film by Beyoncé</h2>
        <span>Documental</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Five Nights at Freddy's</h2>
        <span>Terror</span>
      </div>
    </div>
    <div>
      <div class="content">
        <h2>Chucky</h2>
        <span>Terror</span>
      </div>
    </div>
  </div>




